.App {
  display: flex;
  flex-direction: row;
  justify-content: start;
}
.leftSection {
  height: 98vh;
  width: 60%;
  background: #15181b;
  color: white;
  font-size: 64px;
  font-family: inter;
}
.astrixImg {
  margin-left: 40px;
  margin-bottom: 100px;
  margin-top: 20px;
}
.bgText1,
.bgText2 {
  margin: 0px;
  line-height: 0.8;
  opacity: 40%;
  margin-left: 50px;
  margin-top: 50px;
  position: absolute;
  z-index: 1; /* Lower z-index to place behind CarouselAutoplay */
}
.bgText1 {
  top: 10%; /* Adjust positioning as needed */
  left: 5%;
}

.bgText2 {
  top: 35%; /* Adjust positioning as needed */
  left: 5%;
}
.oneText {
  top: 20%;
}
.twoText {
  top: 45%;
}
.carouselContainer {
  position: relative;
  z-index: 2; /* Higher z-index to place CarouselAutoplay in front */
}
.carosuelImg {
  width: 500px !important;
  height: 600px;
  padding-left: 200px;
}
.radioButtonContainer {
  margin-left: 400px;
  > div {
    color: #15181b !important;

    > :nth-child(1) {
      border-top-left-radius: 20px;
      border-bottom-left-radius: 20px;
      background-color: #15181b !important;
      color: aliceblue;
    }
    > :nth-child(2) {
      border-top-right-radius: 20px;
      border-bottom-right-radius: 20px;
      background-color: #15181b !important;
      color: aliceblue;
    }
  }
}
.marquee-container {
  height: 50px; /* Adjust based on your need */
  overflow: hidden;
  position: relative;
  border: 1px solid black; /* Optional: for visibility */
}

.marquee {
  height: 100%;
  display: flex;
  align-items: center;
}

.marquee-text {
  display: inline-block;
  white-space: nowrap;
  position: absolute;
  animation: scrollUp 5s linear infinite;
}

@keyframes scrollUp {
  0% {
    transform: translateY(100%);
  }
  100% {
    transform: translateY(-100%);
  }
}

.rightSection {
  height: 98vh;
  width: 40%;
  background: #15181b;
  color: white;
  font-family: inter;
  h2 {
    margin: 0;
    margin-left: 20px;
  }
  p {
    margin-left: 20px;
  }
}
.rightFooter {
  display: flex;
  align-items: center;
  justify-content: space-around;
}
