.App {
  display: flex;
  flex-direction: row;
  justify-content: start;
  overflow: hidden;
}
.leftSection {
  height: 100vh;
  width: 60%;
  background: #15181b;
  color: white;
  font-size: 64px;
  font-family: inter;
}
.astrixImg {
  margin-left: 40px;
  margin-bottom: 100px;
  margin-top: 20px;
}
.bgText1,
.bgText2 {
  margin: 0px;
  line-height: 0.8;
  opacity: 40%;
  margin-left: 50px;
  margin-top: 50px;
  position: absolute;
  z-index: 1; /* Lower z-index to place behind CarouselAutoplay */
}
.bgText1 {
  top: 5%; /* Adjust positioning as needed */
  left: 5%;
}

.bgText2 {
  top: 40%; /* Adjust positioning as needed */
  left: 5%;
}
.oneText {
  top: 20%;
}
.twoText {
  top: 55%;
}
.carouselContainer {
  position: relative;
  z-index: 2; /* Higher z-index to place CarouselAutoplay in front */
}
.carosuelImg {
  width: 400px !important;
  height: 350px;
  padding-left: 130px;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  .carosuelImg {
    width: 150px !important;
    height: auto;
    padding-left: 250px;
  }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) and (max-width: 768px) {
  .carosuelImg {
    width: 300px !important;
    height: 300px;
    padding-left: 20px;
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) and (max-width: 992px) {
  .carosuelImg {
    width: 350px !important;
    height: 350px;
    padding-left: 50px;
  }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) and (max-width: 1200px) {
  .carosuelImg {
    width: 380px !important;
    height: 380px;
    padding-left: 80px;
  }
}

.radioButtonContainer {
  margin-left: 200px;
  > div {
    color: #15181b !important;

    > :nth-child(1) {
      border-top-left-radius: 20px;
      border-bottom-left-radius: 20px;
      background-color: #15181b !important;
      color: aliceblue;
    }
    > :nth-child(2) {
      border-top-right-radius: 20px;
      border-bottom-right-radius: 20px;
      background-color: #15181b !important;
      color: aliceblue;
    }
  }
}

.marquee-container {
  height: 50px; /* Adjust based on your need */
  overflow: hidden;
  position: relative;
  border: 1px solid black; /* Optional: for visibility */
}

.marquee {
  height: 100%;
  display: flex;
  align-items: center;
}

.marquee-text {
  display: inline-block;
  white-space: nowrap;
  position: absolute;
  animation: scrollUp 5s linear infinite;
}

@keyframes scrollUp {
  0% {
    transform: translateY(100%);
  }
  100% {
    transform: translateY(-100%);
  }
}

.rightSection {
  height: 100vh;
  width: 40%;
  background: #15181b;
  color: white;
  font-family: inter;
  h2 {
    margin: 0;
    margin-left: 20px;
  }
  p {
    margin-left: 20px;
  }
}
.rightFooter {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.vertical-scroll-container {
  height: 100vh;
  width: 50px;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 24px;
  font-weight: bold;
  margin: auto;
  background-color: #b9a0ff;
  margin: 0;
}
.vertical-scroll-text {
  writing-mode: vertical-rl;
  transform: rotate(180deg);
  animation: scroll 5s linear infinite;
}

@keyframes scroll {
  0% {
    transform: rotate(180deg) translateY(100%);
  }
  100% {
    transform: rotate(180deg) translateY(-100%);
  }
}
